{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">Event Info</h1>

<div class="form-row">
  <div class="col-6 col-md-6 offset-md-3">
    <h5>Where</h5>
    <a href="http://doubletree3.hilton.com/en/hotels/california/doubletree-by-hilton-hotel-los-angeles-downtown-LAXDTDT/index.html" target="_blank">DoubleTree in Downtown Los Angeles</a>
    <h5>Address</h5>
    <p>120 S Los Angeles St, Los Angeles, CA 90012</p>
    <h5>Date</h5>
    <p>July 28, 2018</p>
    <h5>Time</h5>
    <p>Ceremony starts promptly at 5:00 PM PDT. Reception starts at 7:00 PM PDT.</p>
    <h5>Parking</h5>
    <p>Parking is pre-paid valet!</p>
    <h5>Hotel Accommodations</h5>
    <p>We reserved a room block for anyone who might need hotel accommodations. Access it <a href="http://doubletree.hilton.com/en/dt/groups/personalized/L/LAXDTDT-600-20180728/index.jhtml" target="_blank">here</a>.</p>
    <h5>Registry</h5>
    <p>None! Just come celebrate and enjoy yourselves!</p>
    <h5>Things to do in LA</h5>
    <p>
      Anything you want, but if you want to have an awesome day, do this:<br>
      (For your convenience, here is an <a href="https://www.travo.com/trips/e2fc4143135846919b0f1d78bf970f76/itinerary" target="_blank">itinerary</a> made on TRAVO, a trailblazer in the travel space.)
    </p>
    <p></p>
    <ul>
      <li>Wake up and get to <a href="https://www.yelp.com/biz/savoy-kitchen-alhambra" target="_blank">Savoy</a> by 11am. Order a hainan chicken rice (regular) and a lemon ice tea. If you feel extra hungry, order shrimp rolls.</li>
      <li>Go to <a href="https://www.yelp.com/biz/fosselmans-ice-cream-alhambra" target="_blank">Fosselman's</a>. Get a single scoop of taro ice cream. Try to not get any other flavors. Sugar cone is fine.</li>
      <li>Drive to <a href="https://www.yelp.com/biz/the-broad-los-angeles-4" target="_blank">The Broad</a>. Walk around, chill, and take some pictures. Be sure to take a picture with the Michael Jackson statue.</li>
      <li>Drive to Santa Monica and park at any parking structure near the pier. <a href="https://www.yelp.com/biz/santa-monica-parking-structure-8-santa-monica?osq=santa+monica+parking+lot" target="_blank">This</a> one is pretty good.</li>
      <li>Walk down 3rd street, preferably starting from the Wilshire side and ending near the mall. Most performers are pretty cool, but this <a href="https://youtu.be/D7WzDle-sw4?t=81" target="_blank">guy</a> will blow your mind.</li>
      <li>Once you reach the mall, go towards the pier. Open your Pokemon Go app and play with some of the last remaining players in SoCal. Ride the ferris wheel. If you're traveling with somebody, hold their hand and share a romantic kiss.</li>
      <li>Drive to Sawtelle and park in the <a href="https://www.yelp.com/biz/petsmart-los-angeles-3" target="_blank">Petsmart</a> plaza for free.</li>
      <li>Walk to <a href="https://www.yelp.com/biz/tsujita-la-artisan-noodle-los-angeles-2" target="_blank">Tsujita LA</a>. Don't mistakenly go to Tsujita Annex or Killer Noodle. Get the Cha Siu Tsukemen and follow the eating instructions on their menu STEP BY STEP. Savor the egg.</li>
      <li>Walk to <a href="https://www.yelp.com/biz/b-sweet-los-angeles-6" target="_blank">B Sweet</a>. Get a small order of bread pudding with ice cream.</li>
      <li>Go home and relax.</li>
    </ul>
  </div>
</div>
<div class="text-center">
  <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?size=550x500&key={{ config["GOOGLE_BROWSER_KEY"] }}&markers=color:blue|120%20S%20Los%20Angeles%20St,%20Los%20Angeles,%20CA%2090012&zoom=10">
</div>
{% endblock %}
