{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">A Tale of Two People</h1>
<p>TLDR - They're getting married.</p>
<p>
  Janet and David met online on <a href="https://www.coffeemeetsbagel.com" target="_blank">CoffeeMeetsBagel</a>.
  Janet, who very rarely checked the site, happened to log on the day she was matched with David, 
  who always checked the site. The random number generator was kind to them that day.  Despite many
  arguments on the matter, they still can't agree on who is the coffee and who is the bagel.
</p>
<p>
  Their first date was at one of San Gabriel Valley's finest establishments,
  <a href="https://www.yelp.com/biz/savoy-kitchen-alhambra">Savoy</a>.
  A person's order at Savoy can be very revealing. Ordering the dark meat version
  of the Hainan Chicken Rice can mean that person has very picky tastes. Ordering the white meat
  version (which costs extra...), can mean that person just misses the point of eating there.
  Instead, they both went with the regular version. They immediately knew that this relationship
  had potential.
</p>
<p>
  Janet and David went on a few follow-up dates. One of the most notable was a trip to the
  Santa Monica Pier, which unbeknownst to Janet, was actually planned step-by-step by
  David's friends, Yin and Janelle. They shared a romantic ride on the ferris wheel.
</p>
<div class="text-center">
  <img class="img-fluid" src="{{ url_for("static", filename="images/pier.png") }}">
</div>
<p>
  David really liked Janet and concluded she would make the perfect girlfriend. After a visit to
  the Aquarium of the Pacific, where they both tried to surprise each other by buying the tickets
  beforehand, they went back to Janet's apartment.  As he was lying on the carpet, they had the
  following conversation.
  <ul>
    <li>David: Hey, so are you still on Coffee Meets Bagel?</li>
    <li>Janet: No, I deactivated it 2 weeks ago.</li>
    <li>David: OK, do you want to be my girlfriend then?</li>
    <li>Janet: Sure.</li>
  </ul>
</p>
<div class="text-center">
  <img class="img-fluid" src="{{ url_for("static", filename="images/aquarium.png") }}">
</div>
<p>
  After becoming girlfriend/boyfriend, Janet and David went from seeing each other 1 day a week to
  3. A few months later, they became Facebook-official, the ultimate sign of a serious relationship.
  A year into their relationship, they decided to move in together to test whether they can handle
  the everyday REAL DEAL versions of each other. Admittedly, the first few months were too real for
  them and they each found many nuances that mildy infuriated each other. They didn't fight much,
  but when they did, it was always related to food.  However, as time went on and they started to
  gain a mutual understanding for each other, they came to a compromise on many different issues.
  The longer they lived together, the more they seemed to complement each other.
</p>
<p>
  Nearing 3 years into the relationship, David felt it was time to take their relationship to the
  next level and get married. Recognizing a proposal opportunity in their upcoming trip to New York,
  he decided to propose at the Charging Bull. With the help of his friends Janelle and her
  husband Will, he was finally able to navigate through the crowd of Chinese and Indiant tourists to the Charging Bull and propose. As David predicted, Janet said yes and ugly cried.
</p>
<div class="text-center">
  <img class="img-fluid" src="{{ url_for("static", filename="images/charging-bull.png") }}">
  <img class="img-fluid" src="{{ url_for("static", filename="images/ugly-cry.png") }}">
</div>
<p>
  They are currently planning their wedding, which is surprisingly a lot of work. Luckily, they
  were able to hire an awesome designer to create this beautiful website.
</p>
{% endblock %}
