{% from "_form_helpers.html" import render_errors %}

{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">RSVP</h1>

{% if form.errors %}
  {% for error_type, errors in form.errors.iteritems() %}
    {% if error_type == "recaptcha" %}
      {% for error in errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

<form method="POST" action="{{ url_for("pages.rsvp") }}">
  {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="form-group col-md-5">
      {{ form.first_name.label }}
      {{ form.first_name(class_="form-control is-invalid" if form.errors.first_name else "form-control") }}
      <div class="invalid-feedback">
        {% for e in form.errors.first_name %}{{ e }}{% endfor %}
      </div>
    </div>
    <div class="form-group col-md-5">
      {{ form.last_name.label }}
      {{ form.last_name(class_="form-control is-invalid" if form.errors.last_name else "form-control") }}
      <div class="invalid-feedback">
        {% for e in form.errors.last_name %}{{ e }}{% endfor %}
      </div>
    </div>
    <div class="form-group col-md-2">
      <div class="form-check">
        <br>
        {{ form.vegetarian(class_="form-check-input") }}
        {{ form.vegetarian.label(class_="form-check-label") }}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <div class="form-check">
        {{ form.plus_one(class_="form-check-input") }}
        {{ form.plus_one.label(class_="form-check-label") }}
      </div>
    </div>
    <div class="form-group col-md-8 plus-one">
      {{ form.plus_one_name.label }}
      {{ form.plus_one_name(class_="form-control is-invalid" if form.errors.plus_one_name else "form-control") }}
      <div class="invalid-feedback">
        {% for e in form.errors.plus_one_name %}{{ e }}{% endfor %}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      {{ form.passcode.label }}
      {{ form.passcode(class_="form-control is-invalid" if form.errors.passcode else "form-control") }}
      <div class="invalid-feedback">
        {% for e in form.errors.passcode %}{{ e }}{% endfor %}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      {{ form.recaptcha }}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">RSVP</button>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for("static", filename="js/rsvp.js") }}"></script>
{% endblock %}
