{% from "_form_helpers.html" import render_errors %}

{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">RSVP</h1>
<h2 class="text-center">Hello, {{ invite.person }}!</h2>

<form method="POST" action="{{ url_for("pages.rsvp_update") }}">
  {{ form.hidden_tag() }}
  {{ form.invitation_code }}
  <div class="form-group form-row">
    {{ form.attending.label(class_="form-check-label col-md-3 offset-md-3 col-6") }}
    <div class="col-md-3 col-6">
      {{ form.attending() }}
    </div>
  </div>
  <div class="form-group form-row">
    {{ form.vegetarian.label(class_="form-check-label col-md-3 offset-md-3 col-6") }}
    <div class="col-md-3 col-6">
      <div class="form-check">
        {{ form.vegetarian(class_="form-check-input") }}
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    {{ form.plus_one.label(class_="form-check-label col-md-3 offset-md-3 col-6") }}
    <div class="col-md-3 col-6">
      <div class="form-check">
        {{ form.plus_one(class_="form-check-input") }}
      </div>
    </div>
  </div>
  <div class="form-group form-row plus-one-field">
    {{ form.plus_one_name.label(class_="col-form-label col-md-3 offset-md-3") }}
    <div class="col-md-3">
      {{ form.plus_one_name(class_="form-control is-invalid" if form.errors.plus_one_name else "form-control") }}
      <div class="invalid-feedback">
        {% for e in form.errors.plus_one_name %}{{ e }}{% endfor %}
      </div>
    </div>
  </div>
  <div class="form-group form-row plus-one-field">
    {{ form.plus_one_vegetarian.label(class_="form-check-label col-md-3 offset-md-3 col-6") }}
    <div class="col-md-3 col-6">
      <div class="form-check">
        {{ form.plus_one_vegetarian(class_="form-check-input") }}
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    {{ form.additional_comments.label(class_="form-check-label col-md-3 offset-md-3") }}
    <div class="col-md-3">
      {{ form.additional_comments(class_="form-control is-invalid" if form.errors.additional_comments else "form-control") }}
      <div class="invalid-feedback">
        {% for e in form.errors.additional_comments %}{{ e }}{% endfor %}
      </div>
    </div>
  </div>
  {% for song_field_errors, song_field in [
      (form.errors.song_suggestion_1, form.song_suggestion_1),
      (form.errors.song_suggestion_2, form.song_suggestion_2),
      (form.errors.song_suggestion_3, form.song_suggestion_3)
    ]
  %}
    <div class="form-group form-row">
      {{ song_field.label(class_="form-check-label col-md-3 offset-md-3") }}
      <div class="col-md-3">
        {{ song_field(class_="form-control is-invalid" if song_field_errors else "form-control") }}
        <div class="invalid-feedback">
          {% for e in song_field_errors %}{{ e }}{% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="form-row">
    <div class="form-group col-md-12">
      {{ form.recaptcha }}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 offset-md-3">
      <button type="submit" class="btn btn-primary">RSVP</button>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for("static", filename="js/rsvp.js") }}"></script>
{% endblock %}
